/* nav {
    background-color: #333;
    padding: 15px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #ffcc00;
  }
   */